<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" href="../../resources/css/style.css">

</head>
<body>
<div class="container">
    <header>
        <h1>
            Courses
            <div class="logout">
                <span id="currentUserLogin" sec:authentication="principal.username">default@tc.edu</span>
                <a th:href="@{/logout}">
                    <i class="icon-off"></i>
                </a>
            </div>
        </h1>
    </header>
    <div th:if="${error != null}">
        <div class="alert alert-error">
            <div>
                <strong th:text="#{error.message.title}">Error title</strong>
            </div>
            <ul>
                <li th:text="${error}">Error</li>
            </ul>
        </div>
        <div class="form-actions">
            <a class="btn" th:href="@{/courses}">Back</a>
        </div>
    </div>
    <div class="courses-top-control">
        <a class="btn" th:href="@{/mycourses}">My Courses</a>
        <a id="createCourseButton" class="btn btn-primary" sec:authorize="hasRole('ROLE_LECTOR')"
           th:href="@{/courses/create}">Create</a>
        <div class="search-box">
            <form class="form-search" th:object="${category}" th:action="@{/courses}" th:method="POST">
                <select id="categoryField" class="span5" th:field="*{id}">
                    <option th:value="null" th:text="All"></option>
                    <option th:each="category : ${categories}" th:value="${category.id}"
                            th:text="${category.category}"></option>
                </select>
                <button class="btn" type="submit">Apply</button>
            </form>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="span1">Id</th>
            <th>Course</th>
            <th class="span3">Category</th>
            <th class="span1">S/A</th>
            <th class="span1">Grade</th>
            <th class="span2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course,row : ${courses}">
            <td th:text="${row.count}">Order</td>
            <td>
                <a th:href="|/courses/${course.id}|" th:text="${course.name}">Default Name</a>
                <span class="label"
                      th:if="${client.login == course.owner} or ${client.role == 'Knowledge Manager' || client.role == 'Department Manager'}"
                      th:text="${course.state}"
                      th:class="${course.state == 'Proposal'} ? 'label label-warning'"
                      th:classappend="${course.state == 'Rejected'} ? 'label label-important' : 'label'">
                    Default State
                </span>
            </td>
            <td th:text="${course.category.category}">
                Default Course Category
            </td>
            <td>
                <div th:if="${course.amountOfSubscribers != 0 || course.amountOfAttenders !=0}">
                    <a th:href="@{|/courses/${course.id}/participants|}"
                       th:text="|${course.amountOfSubscribers}/${course.amountOfAttenders}|">S/A</a>
                </div>
            </td>
            <td>
                <div th:if="${course.grade != 0}"
                     th:href="|/courses/${course.id}/participants|" th:text="${course.grade}">Default Grade
                </div>
            </td>
            <td>
                <div th:if="${client.login == course.owner}" sec:authorize="hasRole('ROLE_LECTOR')">
                    <div class="btn-group" th:if="${course.state == 'Draft'} or ${course.state == 'Rejected'}">
                        <a class="btn btn-mini" th:href="@{|/courses/${course.id}/update|}">Update</a>
                        <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#" name="action"
                           value="review">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a name="action" value="review" th:onclick="'sendToReview(this)'"
                                   th:id="review+${course.id}" id="review">Send to
                                    Review</a>
                                <a th:href="@{|/courses/${course.id}/delete|}" name="action"
                                   value="delete">Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div sec:authorize="hasAnyRole('ROLE_KNOWLEDGE MANAGER','ROLE_DEPARTMENT MANAGER')"
                     th:if="${course.state == 'Proposal'}">
                    <a class="btn btn-mini" th:href="@{|/courses/${course.id}/approve|}">Approve</a>
                </div>

                <a class="btn btn-mini" sec:authorize="hasRole('ROLE_USER')"
                   th:if="${course.subrole == null} and ${course.state.equals('New') || course.state.equals('Open') || course.state.equals('Ready')}"
                   th:href="@{|/courses/${course.id}/subscribe|}">Subscribe</a>
                <a class="btn btn-mini" sec:authorize="hasRole('ROLE_USER')"
                   th:if="${course.subrole == 'subscriber'} and ${course.state.equals('Open') || course.state.equals('Ready')}"
                   th:href="@{|/courses/${course.id}/attend|}">Attend</a>
                <a class="btn btn-mini" sec:authorize="hasRole('ROLE_USER')"
                   th:if="${course.subrole == 'attender'} and ${course.state.equals('Finished')}"
                   th:href="@{|/courses/${course.id}/evaluate|}">Evaluate</a>

                <a class="btn btn-mini" sec:authorize="hasRole('ROLE_LECTOR')"
                   th:if="${client.login == course.owner} and ${course.state.equals('Ready')}"
                   th:href="@{|/courses/${course.id}/start|}">Start</a>
                <a class="btn btn-mini" sec:authorize="hasRole('ROLE_LECTOR')"
                   th:if="${client.login == course.owner} and ${course.state.equals('In Progress')}"
                   th:href="@{|/courses/${course.id}/finish|}">Finish</a>
                <a class="btn btn-mini" sec:authorize="hasRole('ROLE_LECTOR')"
                   th:if="${client.login == course.owner} and ${course.state.equals('Finished')}"
                   th:href="@{|/courses/${course.id}/notify|}">Notify</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/resources/js/jquery-1.8.1.min.js}"></script>
<script th:src="@{/resources/js/bootstrap-2.2.2.min.js}"></script>
<script th:src="@{/resources/js/script.js}"></script>
</body>
</html>